/* 전체 페이지의 배경색을 설정 */
body {
  background-color: #E6F5FF; /* 파란색 */
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}

body {
  font-family: "Pretendard-Regular";
}